.hero{
	display:flex;
	justify-content:space-around;
	align-items: flex-start;
	margin-right:80px;
}
#button{
	padding:10px;
	background-color:#ff0000;
	color:white;
	border-radius: 5px;
	border-style:none;
	margin-left:10px;
}
#main{
	text-align:center;
	box-sizing: border-box;
}
}
img{
	object-fit: cover;
	object-fit: fill;
}